{% extends 'rk/base.html' %}
{% load static %}
{% block content %}
<!--room start here-->
<div class="rooms">
	<div class="container">
		<div class="rooms-main">
			 <div class="room-head">
			 	<h3>Luxury Rooms</h3>
			 </div>
			 <div class="rooms-top">
			    <div class="rooms-left wow slideInLeft" data-wow-delay="0.3s">
				 	<div class="col-md-4 rooms-text">
				 		<h2><a href="single.html">Deluxe Rooms</a></h2>
				 		<p>Classically decorated, with handpicked modern artworks and 24 hour services. These rooms are stylish, comfortable and spacious. Furnishings include a king size bed, a writing desk, an armchair and coffee table; for work and down time. The brightly lit bathroom has a bathtub, a shower and an electronic privacy blind</p>
				 	    <div class="room-btn">
				 	      <a href="single.html" class="hvr-push">Read More</a>	
				 	    </div>		 	    
				 	</div>
				 	<div class="col-md-8 rooms-img">
				 		<div class="luxury-block">
				 		 <a href="single.html"> <img src="{% static 'rk/images/r1.jpg' %}" alt="" class="img-responsive"></a>		
						</div>
				 	</div>				 
				  <div class="clearfix"> </div>
			    </div>
			     <div class="rooms-left1 wow slideInRight" data-wow-delay="0.3s">
				 	<div class="col-md-8 rooms-img ulta-img">
				 	 <a href="single.html"> <img src="{% static 'rk/images/r2.jpg' %}" alt="" class="img-responsive"></a>
				 	</div>
				 	<div class="col-md-4 rooms-text ulta-text">
				 		<h3><a href="single.html">Deluxe Room City View</a></h3>
				 		<p>Classical décor and redefined ambience make these rooms an ideal choice offering breath-taking views of the city. All rooms are well equipped with modern guest amenities.</p>
				 	    <div class="room-btn">
				 	      <a href="single.html" class="hvr-push">Read More</a>	
				 	    </div>	
				 	</div>
				  <div class="clearfix"> </div>
			    </div>
			 </div>
			<div class="clearfix"> </div>
		</div>
	</div>
</div>
<!--gallery start here-->
<div class="gallery" id="gallery">
	<div class="container">
	  <div class="gallery-main wow zoomIn" data-wow-delay="0.3s">
	  	<div class="gallery-top">
	  		<h1>Other Rooms</h1>
	  	</div>
		<div class="gallery-bott">
			<div class="col-md-4 col1 gallery-grid">
				<a href="images/r3.jpg" rel="title" class="b-link-stripe b-animate-go  thickbox">

						<figure class="effect-bubba">
							<img class="img-responsive" src="{% static 'rk/images/r3.jpg'%}" alt="">
							<figcaption>
								<h4 class="gal"> Premier Rooms</h4>
								<p class="gal1">A room to satisfy all needs; for business and leisure travellers.</p>	
							</figcaption>			
						</figure>
					</a>
					</div>
					<div class="col-md-4 col1 gallery-grid">
						<a href="{%static 'rk/images/r4.jpg' %}" rel="title" class="b-link-stripe b-animate-go  thickbox">
						<figure class="effect-bubba">
							<img class="img-responsive" src="{% static 'rk/images/r4.jpg' %}" alt="">
							<figcaption>
								<h4 class="gal">Premier Rooms</h4>
								<p class="gal1">A room to satisfy all needs; for business and leisure travellers.</p>	
							</figcaption>			
						</figure>
						</a>
					</div>
					<div class="col-md-4 col1 gallery-grid">
						<a href="{% static 'rk/images/r5.jpg'%}" rel="title" class="b-link-stripe b-animate-go  thickbox">
						<figure class="effect-bubba">
							<img class="img-responsive" src="{% static 'rk/images/r5.jpg' %}" alt="">
							<figcaption>
								<h4 class="gal">Premier Rooms</h4>
								<p class="gal1">A room to satisfy all needs; for business and leisure travellers.</p>	
							</figcaption>			
						</figure>
						</a>
					</div>
			     <div class="col-md-4 col1 gallery-grid">
				  <a href="{% static 'rk/images/r6.jpg'%}" rel="title" class="b-link-stripe b-animate-go  thickbox">
						<figure class="effect-bubba">
							<img class="img-responsive" src="{% static 'rk/images/r6.jpg' %}" alt="">
							<figcaption>
								<h4 class="gal">Premier Rooms</h4>
								<p class="gal1">A room to satisfy all needs; for business and leisure travellers.</p>	
							</figcaption>			
						</figure>
					</a>
					</div>
					<div class="col-md-4 col1 gallery-grid">
						<a href="images/r7.jpg" rel="title" class="b-link-stripe b-animate-go  thickbox">
						<figure class="effect-bubba">
							<img class="img-responsive" src="{%static 'rk/images/r7.jpg' %}" alt="">
							<figcaption>
								<h4 class="gal">Premier Rooms</h4>
								<p class="gal1">A room to satisfy all needs; for business and leisure travellers.</p>	
							</figcaption>			
						</figure>
						</a>
					</div>
					<div class="col-md-4 col1 gallery-grid">
						<a href="images/r8.jpg" rel="title" class="b-link-stripe b-animate-go  thickbox">
						<figure class="effect-bubba">
							<img class="img-responsive" src="{% static 'rk/images/r8.jpg' %}" alt="">
							<figcaption>
								<h4 class="gal">Premier Rooms</h4>
								<p class="gal1">A room to satisfy all needs; for business and leisure travellers.</p>	
							</figcaption>			
						</figure>
						</a>
					</div>
			     <div class="clearfix"> </div>
			</div>
		</div>
	</div>
</div>
<!--gallery end here-->
<script src="js/jquery.chocolat.js"></script>
		<link rel="stylesheet" href="css/chocolat.css" type="text/css" media="screen" charset="utf-8">
		<!--light-box-files -->
		<script type="text/javascript" charset="utf-8">
		$(function() {
			$('.gallery-grid a').Chocolat();
		});
		</script>

<!--room end here-->
	<div class="main">
		<div class="main-agileinfo w3layouts-agileits"> 
			<div id="wrapper">
				<form action="/bookroom/" method="post">
				{% csrf_token %}
					<div id="login" class="animate w3layouts agileits form"> 
						<div class="agileinfo-row">
							<div class="ferry ferry-from">
								<label>Your Name</label>
								<input type="text" name="name" placeholder="Name" required=" ">
							</div>
							<div class="ferry ferry-from">
								<label>Your Email</label>
								<input type="text" name="email" placeholder="Email" required=" ">
							</div>
							<div class="ferry ferry-from">
								<label>Your Enquiry Type</label>
								<select name="from1">
									<option value="Dover">Accommodation Enquiry</option>
									<option value="Felixstowe">Travel Enquiry</option>
									<option value="Grimsby">OrderFood Enquiry </option>
									<option value="Newcastle">Simply Dummy</option> 
								</select>
							</div>
							<div class="ferry ferry-to">
								<label>Accommodation Enquiry</label>
								<select name="to">
									<option value="Calais">Air Conditioned Cabin</option>
									<option value="Dover">Double Room</option>
									<option value="Felixstowe">Suite Room</option>
									<option value="Grimsby">Deluxe Room</option> 
								</select>
							</div>
							<div class="book-pag agileits w3layouts"> 
								<div class="book-pag-frm1 agileits w3layouts">
									<label>Date Of Arrival</label>
									<input name="doa" class="date agileits w3layouts" id="datepicker2" type="text" value="Date" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = '';}" required="">
								</div>
								<div class="clear"></div>
							</div> 
						</div>
						<div class="agileinfo-row w3ls-row2"> 
							<div class="tickets">
								<div class="persons">
									<label>Number Of Persons</label>
									<input type="number" name="Number" placeholder="1" min="1" required="">
								</div>
								<div class="persons">
									<label>Number Of Days</label>
									<input type="number" name="Number1" placeholder="1" min="1" required="">
								</div>
								<div class="clear"></div>
							</div>
							<div class="ferry ferry-from">
								<label>Customer Enquiry</label>
								<textarea id="message" name="message1" placeholder="Your Queries" title="Please enter Your Queries"></textarea>
							</div>
							<div class="wthreesubmitaits">
								<input type="submit" name="submit" value="Submit">
							</div>
						</div>
						<div class="clear"> </div>
					</div>
				</form>
			</div> 
		</div> 



<style>
a{text-decoration:none;}
.txt-rt{text-align:right;}/* text align right */
.txt-lt{text-align:left;}/* text align left */
.txt-center{text-align:center;}/* text align center */
.float-rt{float:right;}/* float right */
.float-lt{float:left;}/* float left */
.clear{clear:both;}/* clear float */
.pos-relative{position:relative;}/* Position Relative */
.pos-absolute{position:absolute;}/* Position Absolute */
.vertical-base{	vertical-align:baseline;}/* vertical align baseline */
.vertical-top{	vertical-align:top;}/* vertical align top */
nav.vertical ul li{	display:block;}/* vertical menu */
nav.horizontal ul li{	display: inline-block;}/* horizontal menu */
img{max-width:100%;}
/*--end reset--*/
body a {
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	-ms-transition: 0.5s all;
	text-decoration: none;
}  
h1 {
    font-family: 'Josefin Sans', sans-serif;
    font-size:3em;
    color: #FFF;
    letter-spacing: 1px;
    margin: 1em 0;
    text-align: center;
	text-transform: capitalize;
}
.agileinfo-row {
    float: left;
    width: 48%;
}
.agileinfo-row.w3ls-row2 {
    float:right; 
}
.main-agileinfo {
    width: 45%;
    margin: 0 auto;
    background:rgba(0, 0, 0, 0.55);
    padding: 3em 3em 2em;
} 
a.hiddenanchor{
    display: none;
} 
#wrapper {
    width: 100%;
    position: relative;
}
/*--w3layouts--*/
input[type="text"],select, .tickets input[type="number"],select.dropdown,input#datepicker,input#datepicker1,input#datepicker2,textarea#message  {
    width: 90%;
    padding: .6em 1em;
    font-family: 'Josefin Sans', sans-serif;
    border: none;
    font-size: 1em;
    outline: none;
    color: #000;
    background-color:#fff;
    margin-bottom: 1.2em;
}
textarea#message {
    min-height: 7.6em;
}
/*--agileits--*/
#register, #login{
	width: 100%;
} 
#toregister:target ~ #wrapper #register, #tologin:target ~ #wrapper #login{
	-webkit-animation-name: fadeInLeft;
	-moz-animation-name: fadeInLeft;
	-ms-animation-name: fadeInLeft;
	-o-animation-name: fadeInLeft;
	animation-name: fadeInLeft;
	-webkit-animation-delay: .1s;
	-moz-animation-delay: .1s;
	-o-animation-delay: .1s;
	-ms-animation-delay: .1s;
	animation-delay: .1s;
} 
#toregister:target ~ #wrapper #login, #tologin:target ~ #wrapper #register{
	-webkit-animation-name: fadeOutLeftBig;
	-moz-animation-name: fadeOutLeftBig;
	-ms-animation-name: fadeOutLeftBig;
	-o-animation-name: fadeOutLeftBig;
	animation-name: fadeOutLeftBig;
} 
.animate{
	-webkit-animation-duration: 1s;
	-webkit-animation-timing-function: ease;
	-webkit-animation-fill-mode: both;    
	-moz-animation-duration: 1s;
	-moz-animation-timing-function: ease;
	-moz-animation-fill-mode: both;    
	-o-animation-duration: 1s;
	-o-animation-timing-function: ease;
	-o-animation-fill-mode: both;    
	-ms-animation-duration: 1s;
	-ms-animation-timing-function: ease;
	-ms-animation-fill-mode: both;    
	animation-duration: 1s;
	animation-timing-function: ease;
	animation-fill-mode: both;
}
/*--w3layouts--*/
/*--agileits--*/ 
h3 {
	font-family: 'Josefin Sans', sans-serif;
	font-size: 18px;
	font-weight: 700;
	color: #EEE;
	padding: 10px 0;
	border-bottom: 1px solid #CCC;
} 
.ferry {
    padding: 0px 0px 0px;
    text-align: left;
} 
h4 {
	font-family: 'Josefin Sans', sans-serif;
	font-size: 15px;
	text-align: left;
	color: #EEE;
} 
form {
	margin-top: 0px;
}  
select {
    width: 100%;
} 
.book-pag { 
	text-align: left;
} 
.book-pag h4 {
	font-family: 'Josefin Sans', sans-serif;
    font-size: 18px;
    font-weight: 700;
    color: #EEE;
    padding: 10px 0;
    text-align: center;
} 
#register .book-pag-frm1, #register .book-pag-frm2 {
	width: 100%;
	float: left;
} 
.date {
	background: url(../images/date-icon.png) no-repeat 95.5% 45% #fff;
	cursor: pointer;
	padding: 8px 0;
} 
.book-pag-frm1 {
	padding-top: 0px;
} 
label {
    font-size: 0.9em;
    color: #fff;
    font-family: 'Josefin Sans', sans-serif;
    margin-bottom: .5em;
    display: block;
}  
.wthreesubmitaits {
    padding: 0 0 30px;
    text-align: left;
} 
.wthreesubmitaits input[type="submit"] {
    padding: .7em 1em;
    width: 100%;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1em;
    border: none;
    outline: none;
    cursor: pointer;
    background: #FF5722;
    color: #fff;
    text-transform: uppercase;
}
.wthreesubmitaits input[type="submit"]:hover {
	background-color:#ff3d00;
} 
p.change_link {
	font-family: 'Josefin Sans', sans-serif;
	color: #EEE;
	width: 100%;
	font-size: 15px;
	padding: 0 0 40px;
} 
#wrapper p.change_link a {
	color: #FF5722;
	font-size: 18px;
	padding-bottom: 5px;
	margin-left: 10px;
	border-bottom: 3px solid #FF5722;
} 
#wrapper p.change_link a:hover {
	color: #FFC107;
	border-bottom: 3px solid #FFC107;
} 
::-webkit-input-placeholder {
	color: #000;
} 
::-moz-placeholder {
	color: #000;
} 
::-moz-placeholder {
	color: #000;
} 
::-ms-input-placeholder {
	color: #000;
} 
.w3lsfooteragileits p a {
	color: #FFF;
} 
.w3lsfooteragileits p {
    line-height: 1.8em;
    margin: 3em 0;
    text-align: center;
    font-size: .9em;
    color: #fff;
	letter-spacing: 1px;
}
.w3lsfooteragileits p a:hover {
	color: #FF5722;
} 
/*-- Index-Page-Styling --*/   
/*-- responsive-design --*/ 
@media(max-width:1080px){
.main-agileinfo {
    width: 53%; 
}
h1 { 
    font-size: 2.8em; 
    margin: 0.8em 0; 
}
textarea#message {
    min-height: 7.5em;
}
} 
@media(max-width:900px){
.main-agileinfo {
    width: 75%;
    padding: 2em 2em 0.5em;
}
} 
@media(max-width:736px){
input[type="text"],.tickets input[type="number"], select.dropdown, input#datepicker, input#datepicker1, input#datepicker2, textarea#message {
    width: 87%; 
} 
}
@media(max-width:667px){
h1 {
    font-size: 2.5em; 
    letter-spacing: 0px;
}
}
@media(max-width:640px){
.main-agileinfo {
    width: 78%; 
}
.w3lsfooteragileits p { 
    margin: 2em 2em;  
}
}
@media(max-width:480px){
h1 {
    font-size: 2em; 
	margin: 0.6em 0;
}
.agileinfo-row,.agileinfo-row.w3ls-row2 {
    float: none;
    width: 100%;
}
input[type="text"], .tickets input[type="number"], select.dropdown, input#datepicker, input#datepicker1, input#datepicker2, textarea#message {
    width: 91%;
} 
}
@media(max-width:414px){
h1 {
    font-size: 1.8em; 
}
input[type="text"], select, .tickets input[type="number"], select.dropdown, input#datepicker, input#datepicker1, input#datepicker2, textarea#message { 
    font-size: 0.9em; 
    margin-bottom: 1em;
}
textarea#message {
    min-height: 5.5em;
}
.wthreesubmitaits input[type="submit"] { 
    font-size: 0.9em; 
}
.w3lsfooteragileits p { 
    font-size: .85em; 
    letter-spacing: 0px;
    margin: 1.5em 1em;
}
} 
@media(max-width:384px){
input[type="text"], .tickets input[type="number"], select.dropdown, input#datepicker, input#datepicker1, input#datepicker2, textarea#message {
    width: 90%;
}
}
@media(max-width:320px){
h1 {
    font-size: 1.5em;
}
.main-agileinfo {
    width: 70%;
}
.main-agileinfo {
    width: 80%;
    padding: 1em 1.5em 0.2em;
}
input[type="text"], .tickets input[type="number"], select.dropdown, input#datepicker, input#datepicker1, input#datepicker2, textarea#message {
    width: 88%;
}
}
/*-- //responsive-design --*/

</style>

{% endblock %}