{% extends 'rk/base.html' %}
{% load static %}
{% block content %}




<!--banner  start hwew-->
<div class="banner">
	<div class="container">
		<div class="banner-main wow zoomIn" data-wow-delay="0.3s">
			<h2>HK HOTELS</h2>
			<h6>Welcome To Our Hotels</h6>
			<p>One step out of Delhi. Many steps into stylish relaxation. It’s all about steps. Stylish steps. Relaxing steps. Steps that lead you to history, art and culture. Come celebrate the many steps of chic, modern living at our luxury hotel, HK HOTELS, FARIDABAD.</p>
		</div>
    </div>
</div>
<!--BANNER END HERE-->
<!--information start here-->
<div class="information">
	<div class="container">
		<div class="information-main">
			  <div class="information-grid five-star wow slideInLeft" data-wow-delay="0.3s">
			  	<div class="col-md-4 hotel-info">
			  		<div class="info-left">
			  			<img src="images/s1.png" alt="">
			  		</div>
			  		<div class="info-right">
			  			<h4>BUSINESS SERVICES</h4>
			  			<p>In the hotel's business lounge, you will find a quiet environment with office space, relaxation area, national and international newspapers as well as computers and printers that can be freely used. </p>
			  		</div>
			  	  <div class="clearfix"> </div>
			  	</div>
			  	<div class="col-md-4 hotel-info">
			  		<div class="info-left">
			  			<img src="images/s2.png" alt="">
			  		</div>
			  		<div class="info-right">
			  			<h4>PARKING</h4>
			  			<p>We have the pleasure to offer our guests parking at Steel House Copenhagen.The underground parking facility is operated by Q-Park and the entrance is located on Nyropsgade no. 36-38</p>
			  		</div>
			  	  <div class="clearfix"> </div>
			  	</div>
			  	<div class="col-md-4 hotel-info">
			  		<div class="info-left">
			  			<img src="images/s4.png" alt="">
			  		</div>
			  		<div class="info-right">
			  			<h4>CONCIERGE SERVICE</h4>
			  			<p>At HK HOTELS we are always helpful when it comes to car and bicycle hire. If you need a car during your stay, we would like to help you book it. Please enquire at reception and we will take care of it for you.</p>
			  		</div>
			  	  <div class="clearfix"> </div>
			  	</div>
			  	<div class="clearfix"> </div>
			  </div>
			  <div class="information-grid wow slideInRight" data-wow-delay="0.3s">
			  	<div class="col-md-4 hotel-info">
			  		<div class="info-left">
			  			<img src="images/s3.png" alt="">
			  		</div>
			  		<div class="info-right">
			  			<h4>FOOD AND BEVERAGES</h4>
			  			<p>We go to great lengths to ensure good quality and we would like to give our guests the best start to the day. Therefore, we offer a delicious breakfast buffet that focuses on quality, ecology, health and, not least, good taste.</p>
			  		</div>
			  	  <div class="clearfix"> </div>
			  	</div>
			  	<div class="col-md-4 hotel-info">
			  		<div class="info-left">
			  			<img src="images/s5.png" alt="">
			  		</div>
			  		<div class="info-right">
			  			<h4>FITNESS</h4>
			  			<p>Time for today's workout? We welcome you to our brand-new fitness which is located on the 4th floor. The room is about 60 square meters and available for all our guests.</p>
			  		</div>
			  	  <div class="clearfix"> </div>
			  	</div>
			  	<div class="col-md-4 hotel-info">
			  		<div class="info-left">
			  			<img src="images/s6.png" alt="">
			  		</div>
			  		<div class="info-right">
			  			<h4>TV CHANNELS</h4>
			  			<p>HK HOTELS offers a broad selection of TV channels from around the world, for both adults and children.</p>
			  		</div>
			  	  <div class="clearfix"> </div>
			  	</div>
			  	<div class="clearfix"> </div>
			  </div>
			<div class="clearfix"> </div>
		</div>
	</div>
</div>
<!--information end here-->
<!--leaves start here-->
<div class="leaves">
	<div class="container">
		<div class="leaves-main wow zoomIn" data-wow-delay="0.3s">
			<h1>You Never Leave Us</h1>
			<h6>100% Friendly services</h6>
			<p>If you love modern design and appreciate a hotel room that exudes style and quality, then HK HOTELS at MOHANA ROAD is the perfect base for your stay in Copenhagen. As soon as you enter the hotel lobby, you can feel the historical sophistication and atmospheric surroundings of the '50s. When traditional surroundings meet new design, it creates a unique atmosphere – and that's exactly what you'll discover at HK HOTELS.</p>
		   <a href="single.html" class="hvr-push">Discover More</a>
		</div>
	</div>
</div>
<!--leaves end here-->
<!--branches start here-->
<div class="branches">
		<div class="branches-main wow zoomIn" data-wow-delay="0.3s">
			<div class="branches-top">
				<h3>Our Branches</h3>
			</div>
			<div  id="effect-5" class="branch-btm">
				<div  class="col-md-3 branch-gd-main" >					
					<div class="branch-gd  no-mar"> <a href="room.html">
						<img src="images/b6.jpg" alt="" class="img-responsive">
						<div class="overlay">
		                    <span class="expand lardge">+</span>
		                    <span class="close-overlay hidden">x</span>
	                   </div></a>
                    </div>                 
				</div>				
				<div class="col-md-3 branch-gd-main">
					<div class="branch-gd went-branc"><a href="room.html">
						<img src="images/b1.jpg" alt="" class="img-responsive">
						<div class="overlay">
		                    <span class="expand">+</span>
		                    <span class="close-overlay hidden">x</span>
	                   </div></a>
					</div>
					<div class="branch-gd went-branc"><a href="room.html">
						<img src="images/b2.jpg" alt="" class="img-responsive">
						<div class="overlay">
		                    <span class="expand">+</span>
		                    <span class="close-overlay hidden">x</span>
	                 </div></a>
					</div>
				</div>
				<div class="col-md-3 branch-gd-main">
					<div class="branch-gd"><a href="room.html">
						<img src="images/b3.jpg" alt="" class="img-responsive">
						<div class="overlay">
		                    <span class="expand">+</span>
		                    <span class="close-overlay hidden">x</span>
	                 </div></a>
					</div>
					<div class="branch-gd"><a href="room.html">
						<img src="images/b4.jpg" alt="" class="img-responsive">
						<div class="overlay">
		                    <span class="expand">+</span>
		                    <span class="close-overlay hidden">x</span>
	                 </div></a>
					</div>
				</div>
				<div class="col-md-3 branch-gd-main">
				  <div class="branch-gd went-branc2"><a href="room.html">
					<img src="images/b5.jpg" alt="" class="img-responsive">
					<div class="overlay">
		                    <span class="expand lardge">+</span>
		                    <span class="close-overlay hidden">x</span>
	                   </div></a>
                  </div>
				</div>
			</div>
		  <div class="clearfix"> </div>
		</div>
</div>
<!--branches end here-->
<div class="branch-text">
   <div class="container">
			<span class="quotations"> </span>
			<p>There many branches of HK HOTELS in india.
				There are two branches in Haryana, one in Delhi, three in Uttar Pradesh.
				All branches have same facility and servers which are available in Faridabad, Haryana. </p>
  </div>
</div>
<!--swiming-->
<div class="swimming">
	<div class="container">
		<div class="swimming-main wow zoomIn" data-wow-delay="0.3s">
			<div class="swimming-top">
				<h3>Welcome</h3>
			</div>
			<div class="swimmimg-bot">
				<div class="col-md-3 swimming-grid">
					<h4>User's Choice Award</h4>
					<span class="swim-icon-1"> </span>
					<h5>User's Choice Award 2015 for Business Dining for Oasis by Zomato</h5>
				</div>
				<div class="col-md-3 swimming-grid">
					<h4>Certificate of Excellence</h4>
					<span class="swim-icon-2"> </span>
					<h5>The Certificate of Excellence 2019 honors hospitality businesses that deliver consistently great service across the world</h5>
				</div>
				<div class="col-md-3 swimming-grid">
					<h4>Geospa Asia Spa India Awards</h4>
					<span class="swim-icon-3"> </span>
					<h5>Jiva Grande Spa – Best Hotel Spa by Geospa Asia Spa India Awards 2014</h5>
				</div>
				<div class="col-md-3 swimming-grid">
					<h4>Certificate of excellence rating by Booking.com</h4>
					<span class="swim-icon-4"> </span>
					<h5>Certificate of excellence rating of 4.3 out of 5 by Booking.com</h5>
				</div>
			  <div class="clearfix"> </div>
			</div>
		</div>
	</div>
</div>
<!--swimmg emd here-->
<!--homegrids start here-->
<div class="home-block">
	<div class="container">
		<div class="home-main">
			<div class="home-top">
				<h3>Latest  News</h3>
			</div>
			<div class="home-bottom  wow bounceInLeft" data-wow-delay="0.3s">
				<div class="col-md-4 home-grid">
					<div class="item item-type-move">
						<a class="item-hover" href="single.html">						
							<div class="item-info">
								<div class="headline">
									Our Rooms
									<div class="line"> </div>
								</div>
								<div class="date">Newly build Room and furniture available</div>							
							</div>
							<div class="mask"> </div>
					    </a>
						<div class="item-img">
								<img src="images/b7.jpg" class="img-responsive" alt="">
						</div>
					</div>

				</div>
				<div class="col-md-4 home-grid">
					<div class="item item-type-move">
						<a class="item-hover" href="single.html">						
							<div class="item-info">
								<div class="headline">
									Hotel Policies
									<div class="line"> </div>
								</div>
								<div class="date">Check-in from 2:00 PM<br>
									Check-out till 12:00 PM</div>							
							</div>
							<div class="mask"> </div>
					    </a>
						<div class="item-img">
								<img src="images/b8.jpg" class="img-responsive" alt="">
						</div>
					</div>
				</div>
				<div class="col-md-4 home-grid">
					<div class="item item-type-move">
						<a class="item-hover" href="single.html">						
							<div class="item-info">
								<div class="headline">
									Hotel Essentials
									<div class="line"> </div>
								</div>
								<div class="date">GSTIN : 06AAACG1037G1Z50</div>							
							</div>
							<div class="mask"> </div>
					    </a>
						<div class="item-img">
								<img src="images/b9.jpg" class="img-responsive" alt="">
						</div>
					</div>
				</div>
			  <div class="clearfix"> </div>
			</div>
		  <div class="clearfix"> </div>
		</div>
	</div>
</div>
<!--home grid end here-->


{% endblock %}