{% extends 'rk/base.html' %}
{% load static %}
{% block content %}

<div class="services">
	<div class="container">
		<div class="services-man">
			<div class="services-top">
				<h1>Services</h1>				
			</div>
			<div class="services-bottom wow slideInLeft" data-wow-delay="0.3s">
				<div class="col-md-4 services-grid">				
					<div class="item item-type-move">
						<a class="item-hover" href="single.html">						
							<div class="item-info">
								<div class="headline">
									Our Rooms
									<div class="line"> </div>
								</div>
								<div class="date">October 29, 2020</div>							
							</div>
							<div class="mask"> </div>
					    </a>
						<div class="item-img">
								<img src="{%static 'rk/images/s1.jpg' %}" class="img-responsive" alt="">
						</div>
					</div>
					<div class="clearfix"> </div>
					<div class="ser-text">
						<h4>Superior Rooms…
						</h4>
						<p>With 14 King rooms, each housing a generous king-sized bed, and 9 Double rooms each housing 2 queen-sized beds, and each flaunting the latest in-room technology, our rooms are truly in a class of their own.

						</p>
					</div>
				</div>
				<div class="col-md-4 services-grid">				
					<div class="item item-type-move">
						<a class="item-hover" href="single.html">						
							<div class="item-info">
								<div class="headline">
									Our Rooms
									<div class="line"> </div>
								</div>
								<div class="date">October 29, 2020</div>							
							</div>
							<div class="mask"> </div>
					    </a>
						<div class="item-img">
								<img src="{%static 'rk/images/s2.jpg' %}" class="img-responsive" alt="">
						</div>
					</div>
					<div class="clearfix"> </div>
					<div class="ser-text">
						<h4>The Suites…</h4>
						<p>Furnished with all modern amenities expected for an exquisite experience, we ensure you maximum comfort during your well-deserved stay with us. Deluxe suites are well equipped and tastefully styled in an impeccable decor to meet both your leisure and business needs</p>
					</div>
				</div>
				<div class="col-md-4 services-grid">
					<div class="item item-type-move">
						<a class="item-hover" href="single.html">						
							<div class="item-info">
								<div class="headline">
									Our Rooms
									<div class="line"> </div>
								</div>
								<div class="date">October 29, 2020</div>							
							</div>
							<div class="mask"> </div>
					    </a>
						<div class="item-img">
								<img src="{%static 'rk/images/s3.jpg' %}" class="img-responsive" alt="">
						</div>
					</div>
					<div class="clearfix"> </div>
					<div class="ser-text">
						<h4>Wi-fi Connection...</h4>
						<p>High Speed Wi-fi connectivity in our all bed rooms.<br>
							Very good connection in Meeting area.<br>
							Also have a good wirless connection in smart tv's.
						
						</p>
					</div>
				</div>			
			  <div class="clearfix"> </div>
			</div>
		</div>
	</div>
</div>
<!--services end here-->
<!--services strip start here-->
<div class="ser-strip">
	<div class="container">
		<div class="ser-strip-main wow rollIn" data-wow-delay="0.3s">
			   <h2>Meetings</h2>
			   <p>With over 12,000 square feet of meeting rooms, HK HOTELS, Faridabad is the largest and most sophisticated luxury conference hotel in Faridabad. From corporate meetings and indulgent incentive breaks to global conferences on a grand scale, the range of possibilities is only limited by your imagination. The meeting rooms are equipped with ultra-modern digital technology which allows for dazzling presentations whilst we provide fast-paced communications and secretarial services.</p>
			<div class="clearfix"> </div>
		</div>
	</div>
</div>
<!--services strip end here-->
<!--features strat here-->
<div class="features">
	<div class="container">
		<div class="features-main">
			<div class="features-top wow slideInLeft" data-wow-delay="0.3s">
				<h3>Create wedding day memories which will last for a lifetime</h3>
				<h4>A time when family and friends come together in a mesmerizing setting to rejoice and celebrate one of the life’s milestones.

					At the RK Hotel, Faridabad, we bring together tradition, culture and a couple’s personal style to create an event that is both exciting and memorable. With dramatic design that complements the uniqueness of India, our hotel features exquisite ballrooms which can host events for up to 2500 guests.
					
					From an intimate gathering of your closest friends and family to a formal banquet fit for royalty, we set the right scene for an unforgettable day.
					
					Splendid indoor and outdoor furnishing establishes a unique spot for your wedding or any grand celebration.
					
					The hotel’s wedding experience combines superb cuisine, refined service, elegant floral arrangements, attention to the details and a strong emphasis on customer care that will make your celebration an everlasting memory for you and your guests. Our dedicated wedding team will be on hand to guide you through the planning process and ensure that every detail of your special day is exactly as you dreamt.</h4>
			</div>
			<div class="features-bottom wow slideInRight" data-wow-delay="0.3s">
				<div class="col-md-3 featur-grid">
					<h4>POLARIS</h4>
					<ul>
						<li><a href="#">Our ground floor banquet, the brightest, is quite aptly named so, as it is ideal for all your glam events.</a></li>
						
					</ul>
				</div>
				<div class="col-md-3 featur-grid">
					<h4>TERRA</h4>
					<ul>
						<li><a href="#">Terra, our first floor banquet is a gorgeous venue that beautifully brings an air of festivity to your special celebrations.</a></li>
						
					</ul>
				</div>
				<div class="col-md-3 featur-grid">
					<h4>ZENITH</h4>
					<ul>
						<li><a href="#">The highest point, lives up to its name as the conference/meeting hall has the best in class facilities, amenities and equipment, coming together to make it all a great success.</a></li>
						
					</ul>
				</div>
				<div class="col-md-3 featur-grid">
					<h4>PHOTON</h4>
					<ul>
						<li><a href="#">shines brilliantly with all that it has to offer for your special conference/meeting can seat up to 25 and give you a world class experience.</a></li>
						
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>

<!--features end here-->






{% endblock %}